/*-contacts-*/

.main__contacts {
}
.contacts {
   padding: 80px 0;
   
}
.contacts__container {
  
}

.contacts__header {
   margin: 0px 0px 80px 0px;
}


.contacts__column {
  margin: 0px -15px;
   
  
}

@media (min-width: 992px) {
   .contacts__column {
      margin: 0;
      display: flex;
      align-items: center;
      
      
     
   }
}
.contacts_item {
   flex: 0 1 33.333%;
   
   
}
.item-contacts {
   
   
 
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 50px 40px;
   background-color: #fff;
}
.item-contacts >*:not(:last-child){
   margin: 0px 0px 15px 0px;
}
.item-contacts >* {
   padding: 0 10px;
}
.item-contacts__icon {
}
.item-contacts__contact {

font-size: 14px;
font-weight: 600;
line-height: 171%;
letter-spacing: 0.2px;
color: #252B42;


}
.item-contacts__text {

font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0.1px;
color: #252B42;

}
.item-contacts__link {
display: inline-block;

font-weight: 600;
line-height: 171%;
letter-spacing: 0.2px;
text-align: center;
padding: 10px 20px;
transition: all 0.3s;
color: #FF7B47;
border: 1px solid #FF7B47;
border-radius: 5px;
}
.item-contacts__link:hover {
   background-color: #FF7B47;
   color: #fff;
  
}

.item-contacts_2.item-contacts {
   padding: 80px 40px;
      background-color: #252B42;
      
   

}
.item-contacts_2 .item-contacts__contact{
   color: #fff;
}
.item-contacts_2 .item-contacts__text {
   color: #fff;
}
.item-contacts_2 .item-contacts__link{
   color: #fff;
   border: 1px solid #fff;
   

}



