/*-footer__top-*/


.footer__top {
   padding: 50px 0;
   background-color: #17213C;
}
.footer__main {
   
  
}

.footer__row {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 0 -15px;
}
.footer__column {
   padding: 0 15px;
   flex: 0 1 16.666%;
  
}
.footer__column:last-child{
   flex: 0 1 33.333%;
}
.footer__label {
   color: #fff;
font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0.1px;


}
.footer__label:not(:last-child) {
margin-bottom: 20px;
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item {
}
.menu-footer__item:not(:last-child) {
   margin-bottom: 10px;
}
.menu-footer__link {
   color: #fff;

font-weight: 600;
line-height: 171%;
letter-spacing: 0.2px;
text-align: left;

}

.footer__contacts {
}
.contacts-footer {
}
.contacts-footer__item {
   display: inline-block;
   color: #fff;

   font-weight: 600;
   line-height: 171%;
   letter-spacing: 0.2px;
   padding: 0 0 0 34px;
   min-height: 30px;
}
.contacts-footer__item:not(:last-child){
   margin-bottom: 10px;
}
.contacts-footer__item_phone {
   background: url("../img/footer/icons/01.svg") 0 0 no-repeat;
}


.contacts-footer__item_map {
   background: url("../img/footer/icons/02.svg") 0 0 no-repeat;
}
.contacts-footer__item_email {
   background: url("../img/footer/icons/03.svg") 0 0 no-repeat;
}