@charset "UTF-8";
@import "/css/header.css";
@import "/css/block.css";
@import "/css/services.css";
@import "/css/advantages.css";
@import "/css/practice.css";
@import "/css/whoweare.css";
@import "/css/clients.css";
@import "/css/subscribe.css";
@import "/css/contacts.css";
@import "/css/consulting.css";
@import "/css/footer__top.css";
@import "/css/footer__bottom.css";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: "montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color:#fafafa;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

@media (max-width: 479px) {
  ._container {
    padding: 0 5px;
  }
}




/*---------header--------------------------------------------------------------*/



/*----main----------------------------------------------------*/

.main {
  flex: 1 1 auto;
}

.main__services {
  position: relative;
  z-index: 2;
  margin: -111px 0 0 0 ;
}

.main__main-block {
}


/*----------block---------------------*/


/*----------------services--------------------------------*/



/*---------advantages------------------------------*/



/*---footer--------------------------------------------------------*/